[Desktop Entry]
Type=Application
Name=Kast
Comment=Cast a screen or video to Chromecast, Miracast, or AirPlay
Exec=kast pick
Icon=video-display-symbolic
Terminal=false
Categories=AudioVideo;Network;GNOME;
StartupNotify=true
